
@{
       ViewData["Title"] = "Incomewallet";
       Layout = "~/Views/Shared/_Layoutadmin.cshtml";
}

<style>
    table.dataTable tbody tr {
    background-color: #272672;

}
label{
    color: #fff;
}
div#mytable_info {
    color: #fff;
}
a#mytable_previous {
    color: #fff!important;
}
a#mytable_next {
     color: #fff!important;
}

input[type="search"] {
    color: #fff;
}

</style>

        
<div class="content-wrapper" style="min-height: 333px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Bonannza</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="~/admin/Dashboard">Business Panel</a></li>
             
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
 
    <!-- Main content -->
    <section class="content">
       
     <div class="container">
        <div class="row">           
            <div class="col-lg-12 mt-3">  
              	<div class="table-responsive table-rounds">
					<table id="mytable" class="table table-hover table-striped table-border-whole table-bordered table-responsive-sm">
					   <thead class="table-light-head">
					        <tr class="table-border">
					          <th scope="col" class="table-border">Index</th>
                                <th scope="col" class="table-border">User id </th>	
					          <th scope="col" class="table-border">User Name</th>					   					        				        
                              <th scope="col" class="table-border">Amount</th>
                              <th scope="col" class="table-border">Details</th>
                              <th scope="col" class="table-border">Cr/Dr</th>
                              <th scope="col" class="table-border">Date</th>
                            
                           
					       </tr>                        
					     </thead>
					      <tbody class="table-details">
					       <tr>
					         <th scope="row">1</th>		      				      			         
					         <th scope="row">Rajesh</th>
                             <th scope="row">rajesh@123</th>
                             <th scope="row">9315025688</th>
                              <th scope="row">proper</th>
                              <th scope="row">proper</th>
                              <th scope="row">proper</th>
                            
                              
					        </tr>
                           <tr>
					          <th scope="row">2</th>					        				        
                              <th scope="row">Mohan</th>
                              <th scope="row">puneetkumar611</th>
                              <th scope="row">558936147</th>
                              <th scope="row">558936147</th>
                              <th scope="row">558936147</th>
                              <th scope="row">proper</th>
                          
                                                                 
					        </tr>
                                <tr>
					          <th scope="row">3</th>					        				        
                              <th scope="row">Mohan</th>
                              <th scope="row">puneetkumar611</th>
                              <th scope="row">558936147</th>
                              <th scope="row">proper</th>
                              <th scope="row">proper</th>
                              <th scope="row">proper</th>
                             
                                                                 
					        </tr>
                            <tr>
					          <th scope="row">4</th>					        				        
                              <th scope="row">Mohan</th>
                              <th scope="row">puneetkumar611</th>
                              <th scope="row">558936147</th>
                              <th scope="row">proper</th>
                              <th scope="row">proper</th>
                              <th scope="row">proper</th>
                            
                                                                    
					        </tr>
                            
                             
                             		        					          
					      </tbody>
					  </table>
				</div>       
            </div>
         </div>
      </div>
   </section> 
</div>
   
        
    
 

    