
@{
       ViewData["Title"] = "Profile";
       Layout = "~/Views/Shared/_Layoutadmin.cshtml";
}


        
<div class="content-wrapper" style="min-height: 333px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Profile</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Direct Referral</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
 
    <!-- Main content -->
    <section class="content">
    
     <div class="container">
        <div class="row">            
            <div class="col-lg-3">  
              	     
            </div>
             <div class="col-lg-6">  
              	  <form>
                  <div class="form-group">
                    <label for="formGroupExampleInput">Name</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Name">
                  </div>
                  <div class="form-group">
                    <label for="formGroupExampleInput2">Email</label>
                    <input type="email" class="form-control" id="formGroupExampleInput2" placeholder="Email" disabled>
                  </div>
                    <div class="form-group">
                    <label for="formGroupExampleInput2">Mobile</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Mobile" disabled>
                  </div>
                    <div class="form-group">
                    <label for="formGroupExampleInput2">Code</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Code" disabled>
                  </div>
                    <div class="form-group">
                    <label for="formGroupExampleInput2">Sponsor</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Sponsor" disabled>
                  </div>
                    <div class="form-group">
                    <label for="formGroupExampleInput2">Packege</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Packege" disabled>
                  </div>
                    <div class="form-group">
                    <label for="formGroupExampleInput2">D.O.A</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="D.O.A" disabled>
                  </div>
                    <div class="form-group">
                    <label for="formGroupExampleInput2">Country</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Country" disabled>
                  </div>
                    <div class="form-group">
                    <label for="formGroupExampleInput2">Wallet Address</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Wallet Address">
                  </div>
                   <div class="form-group">
                    
                    <button type="button"  class="btn btn" id="formGroupExampleInput2" style="background-image: linear-gradient(150deg, #8e8ebf 80%, #191951);"><i class="nav-icon fa fa-edit"></i> Edit</button>
                  </div>
                </form>   
            </div>
             <div class="col-lg-3">  
              	     
            </div>
         </div>
      </div>
   </section> 
</div>
   
        
    
 

    