
@{
       ViewData["Title"] = "TeamReferral";
       Layout = "~/Views/Shared/_Layoutadmin.cshtml";
}


        
<div class="content-wrapper" style="min-height: 333px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Send in Green Wallet</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="../User/dashboard">Business Panel</a></li>
             
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
 
    <!-- Main content -->
    <section class="content">
    
     <div class="container">
        <div class="row">            
            <div class="col-lg-3">  
              	     
            </div>
             <div class="col-lg-6">  
              	  <form>
                  <div class="form-group">
                    <label for="formGroupExampleInput">User Id</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="User id" disabled>
                  </div>
                  <div class="form-group">
                    <label for="formGroupExampleInput2">Amount</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Amount">
                  </div>
                    <div class="form-group">
                    <label for="formGroupExampleInput2">Details</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Details">
                  </div>
                    <div class="form-group">
                    <label for="exampleFormControlSelect1">In Out</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option value="0">Select</option>
                      <option value="cr">Cr</option>
                      <option value="dr">Dr</option>
                    
                    </select>
                  </div>
                  
                  
                   
                   
                   <div class="form-group">
                    
                    <button type="button"  class="btn btn" id="formGroupExampleInput2" style="background-image: linear-gradient(150deg, #8e8ebf 80%, #191951);"><i class="nav-icon fa fa-edit"></i> Submit</button>
                  </div>
                </form>   
            </div>
             <div class="col-lg-3">  
              	     
            </div>
         </div>
      </div>
   </section> 
</div>
   
        
        
    
 

    