<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>KBC-40</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    @*<link href="assets/img/favicon.png" rel="icon">*@
    <link rel="icon" type="image/x-icon" href="~/boxicons/logo.png">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/iotcss/aos.css" rel="stylesheet">
    <link href="~/iotcss/bootstrap.min.css" rel="stylesheet">
    <link href="~/ioticons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/iotcss/glightbox.min.css" rel="stylesheet">
    <link href="~/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/iotcss/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/iotcss/style.css" rel="stylesheet">


</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top ">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto"><a href="index.html"><img src="~/boxicons/logo.png" style="max-width:100%;" /></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                    <li><a class="nav-link scrollto" href="#how">How it's works</a></li>

                    <li><a class="nav-link scrollto" href="#about">About</a></li>
                    <li><a class="nav-link   scrollto" href="#">Our Gallery</a></li>
                    @* <li><a class="nav-link scrollto" href="#team">Team</a></li>*@

                    <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                    <li><a class="nav-link scrollto" href="../home/login">LogIn</a></li>
                    @*<li><a class="nav-link scrollto" href="../home/register">Registration</a></li>*@
                    <li><a class="getstarted scrollto" href="#about">Get Started</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                    <h1 class="text-dark" style="font-family: 'boxicons';">
                        KBC40 is a Crowdfunding Platform!
                    </h1>
                    <h2 class="text-dark" style="font-family: 'boxicons';">
                        Needan welfare Foundation<sup>&reg; </sup> KBC40<sup>&reg; </sup> Donation base Croundfunding Project Keep believing charity Registered by 2017.
                       
                    </h2>
                    <div class="d-flex justify-content-center justify-content-lg-start">
                        <a href="#about" class="btn-get-started scrollto" style="font-family: 'boxicons';">Get Started</a>
                        <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span style="font-family: 'boxicons';">Watch Video</span></a>
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                    <img src="~/boxicons/pngimg.com - tree_PNG92782.png" class="img-fluid animated" style="max-width:100%;" alt="">
                </div>
            </div>
        </div>

    </section><!-- End Hero -->

    <main id="main">
        <section id="how" class="why-us section-bg">
            <div class="container-fluid" data-aos="fade-up">

                <div class="section-title">
                    <h2>How it's work</h2>
                </div>

                <div class="row">

                    <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">
                        <div class="content">
                      @*      <h3 style="text-align:justify; font-family: 'boxicons';">How it's Work'</h3>*@
                            <p style="text-align:justify; font-family: 'boxicons';">
                                Crowdfunding for charity works similarly to other crowdfunding methods, but the goal is to raise money for a charitable cause. Charitable organizations or individuals create a campaign on a crowdfunding platform and set a funding goal.
                            </p>
                            <p style="text-align:justify; font-family: 'boxicons';">
                                They then offer incentives or rewards for different levels of financial contributions, such as branded merchandise or recognition on a donor wall. Donors can make a pledge or donation to support the campaign, and the funds are held in escrow until the funding goal is met within a set timeframe.
                            </p>
                            <p style="text-align:justify; font-family: 'boxicons';">
                                Once the goal is achieved, the funds are transferred to the charity, who can then use the money to support their cause. Crowdfunding for charity allows individuals and organizations to rally support for important causes and make a difference in the world.
                            </p>

                        </div>

                        
                    </div>

                    <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("https://images.yourstory.com/cs/5/98c65090592f11ea9f62339ce853ca75/Coronavirus-NGO-1586011772028-1587472674589.png");' data-aos="zoom-in" data-aos-delay="150">
                        &nbsp;

                    </div>
                </div>

            </div>
        </section>
        <!-- ======= Clients Section ======= -->
        <!-- ======= About Us Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>About Us</h2>
                </div>

                <div class="row content">
                    <div class="col-lg-6">
                        <img src="https://aahar.org.in/images/img2.jpg" class="img-fluid img-thumbnail" alt="Responsive image" data-aos="zoom-in" data-aos-delay="150" &nbsp; style="width:530px; height:395px;">
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0">
                        <h2 class="mb-3">
                            KBC40 is a
                            Crowdfunding Platform!
                        </h2>
                        <p style="text-align:justify; font-family: 'boxicons';">
                            KBC40 is a unique crowdfunding platform that is operated by Needan Welfare Foundation, a non-profit organization that is committed to providing food and nutrition to those in need. Through KBC40, individuals and businesses can support the cause of providing food and nutrition to the underprivileged by making a financial contribution. The platform offers a space for creators to showcase their innovative ideas and projects that align with the foundation's mission of supporting the underprivileged.
                        </p>
                        <p  style="text-align:justify; font-family: 'boxicons';">
                            KBC40 is an excellent platform for creators who want to make a positive impact on society by addressing food insecurity. By supporting KBC40, individuals and businesses can play an active role in helping the Needan Welfare Foundation to achieve its goal of providing food and nutrition to those who need it most.
                        </p>
                         </div>
                </div>


            </div>
        </section>
    <!-- End Services Section -->
        <!-- ======= Cta Section ======= -->
        <section id="cta" class="cta">
            <div class="container" data-aos="zoom-in">

                <div class="row">
                    <div class="col-lg-9 text-center text-lg-start">
                        <h3 style="font-family: 'boxicons';">Call To Action</h3>
                        <p style="font-family: 'boxicons'; text-align:justify;">
                            KBC40 is a crowdfunding platform that provides a virtual space for creators to pitch their innovative ideas or projects and seek financial support from interested individuals.
                            <br />The platform allows creators to showcase their projects, set a funding goal, and offer rewards or incentives for different levels of financial contributions. KBC40 provides a secure and transparent process where the funds are held in escrow until the project meets its funding goal within a specified time frame. Once the funding goal is achieved, the funds are released to the creators, who can then start working on their project.
                            <br />KBC40 provides a unique opportunity for entrepreneurs to access capital and bring their ideas to life while also providing individuals with an opportunity to support projects that they believe in.
                        </p>
                    </div>
                    <div class="col-lg-3 cta-btn-container text-center">
                        <a class="cta-btn align-middle" href="#" style="font-family: 'boxicons';">Call To Action</a>
                    </div>
                </div>

            </div>
        </section><!-- End Cta Section -->
        <!-- ======= Portfolio Section ======= -->
        
    <!-- End Team Section -->
        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2 style="font-family: 'boxicons';">Contact</h2>
                    @*<p style="font-family: 'boxicons'; text-align:justify;">Internet of things security includes comprehensive resources about identity and access management for IoT, attack vectors and mitigations, intellectual property protection and threat prevention and defense.</p>*@
                </div>

                <div class="row">

                    <div class="col-lg-5 d-flex align-items-stretch">
                        <div class="info">
                            <div class="address">
                                <i class="bi bi-geo-alt"></i>
                                <h4 style="font-family: 'boxicons';">Location:</h4>
                                <p style="font-family: 'boxicons';">
                                    303, Shri Sai Complex, Rattan Bagh Nangloi Railway Station Road Near Metro Station Opp Govt. School - 110041
                                </p>
                            </div>

                            <div class="email">
                                <i class="bi bi-envelope"></i>
                                <h4 style="font-family: 'boxicons';">Email:</h4>
                                <p style="font-family: 'boxicons';">support@kbc40.com</p>
                            </div>

                            <div class="phone">
                                <i class="bi bi-phone"></i>
                                <h4 style="font-family: 'boxicons';">Call:</h4>
                                <p style="font-family: 'boxicons';">M: +</p>
                            </div>

                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8324.863691487348!2d77.05239940320874!3d28.68444066490701!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d05cb546dbc05%3A0x80e4a5f90fd6e38e!2sNangloi%20Railway%20Station!5e0!3m2!1sen!2sin!4v1678762843536!5m2!1sen!2sin" width="400" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>

                    </div>

                    <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="name" style="font-family: 'boxicons';">Your Name</label>
                                    <input type="text" name="name" class="form-control" id="name" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="name" style="font-family: 'boxicons';">Your Email</label>
                                    <input type="email" class="form-control" name="email" id="email" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" style="font-family: 'boxicons';">Subject</label>
                                <input type="text" class="form-control" name="subject" id="subject" required>
                            </div>
                            <div class="form-group">
                                <label for="name" style="font-family: 'boxicons';">Message</label>
                                <textarea class="form-control" name="message" rows="6" required></textarea>
                            </div>
                            <div class="my-3">
                                <div class="loading" style="font-family: 'boxicons';">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message" style="font-family: 'boxicons';">Your message has been sent. Thank you!</div>
                            </div>
                            <div class="text-center"><button class="text-dark" type="submit" style="font-family: 'boxicons';">Send Message</button></div>
                        </form>
                    </div>

                </div>

            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->


    <div>
        @RenderBody()
    </div>

    <!-- ======= Footer ======= -->
    <footer id="footer">

       
        <div class="footer-top border-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-5 col-md-6 footer-contact">
                        <h3><img src="~/boxicons/logo.png" style="max-width:100%;" /></h3>
                        <p style="font-family: 'boxicons';">
                            303, Shri Sai Complex, Rattan Bagh Nangloi Railway Station Road Near Metro Station Opp Govt. School - 110041
                         <br />
                            <strong style="font-family: 'boxicons';">Phone:</strong> +1<br>
                            <strong style="font-family: 'boxicons';">Email:</strong> support@kbc40.com<br>
                        </p>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                       
                            <h4 style="font-family: 'boxicons';">Useful Links</h4>
                            <ul>
                                <li><i class="bx bx-chevron-right"></i> <a href="#" style="font-family: 'boxicons';">Home</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="#about" style="font-family: 'boxicons';">About us</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="#how" style="font-family: 'boxicons';">How it's works'</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="#Gallery" style="font-family: 'boxicons';">Our Gallery</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="#contact" style="font-family: 'boxicons';">Contact</a></li>
                            </ul>
                       
                    </div>

                  

                    <div class="col-lg-5 col-md-6 footer-links">
                        <h4 style="font-family: 'boxicons';">Our Social Networks</h4>
                        <p style="font-family: 'boxicons';">Social networks are powerful tools for companies to build their brand, connect with customers.</p>
                        <div class="social-links mt-3">
                            <a href="https://twitter.com/NWFKBC40" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="https://m.facebook.com/needanfoundation" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="https://www.youtube.com/c/NEEDANEkSamadhan" class="instagram"><i class="bx bxl-youtube"></i></a>
                            <a href="https://api.whatsapp.com/send?phone=918586007125&text=Hi..%20I%20want%20to%20know%20more%20about%20KBC40%20..%20Please%20send%20me%20Full%20details%20.." class="google-plus"><i class="bx bxl-whatsapp"></i></a>
                          
                        </div>
                    </div>

                </div>
            </div>
        </div>

      
    </footer><!-- End Footer -->
    @* <div id="preloader"></div>*@
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/iotjs/aos.js"></script>
    <script src="~/iotjs/bootstrap.bundle.min.js"></script>
    <script src="~/iotjs/glightbox.min.js"></script>
    <script src="~/iotjs/isotope.pkgd.min.js"></script>
    <script src="~/iotjs/swiper-bundle.min.js"></script>
    <script src="~/iotjs/noframework.waypoints.js"></script>
    <script src="~/iotjs/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/iotjs/main.js"></script>

</body>

</html>