
@{
    ViewData["Title"] = "AddFund";
    Layout = "~/Views/Shared/_Layoutuser.cshtml";
}



<div class="content-wrapper" style="min-height: 333px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">How it works</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="../User/dashboard">Dashboard</a></li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <!-- Main content -->
    <section class="content">
        <style>
            /* Define a container for the PDF viewer */
            #pdf-viewer {
                width: 100%;
                height: 600px; /* Set desired height */
            }
        </style>
        <div id="pdf-viewer">
            <iframe src="https://docs.google.com/gview?url=https://kbc40.com/img/kbc40%20Bank%20Withdrawal%20Plan.pdf&embedded=true" style="width: 100%; height: 100vh;" frameborder="0"></iframe>
        </div>

        
        <script>
            function myFunction() {
                alert("Are you confirm add amount");
            }
        </script>

    </section>
</div>
<script>
    // URL to your PDF file
    const pdfUrl = 'https://kbc40.com/img/kbc40%20Bank%20Withdrawal%20Plan.pdf';

    const embedPDF = document.createElement('object');
    embedPDF.setAttribute('data', pdfUrl);
    embedPDF.setAttribute('type', 'application/pdf');
    embedPDF.setAttribute('width', '100%');
    embedPDF.setAttribute('height', '100%');

    document.getElementById('pdf-viewer').appendChild(embedPDF);
</script>



