
@{
       ViewData["Title"] = "Profile";
       Layout = "~/Views/Shared/_Layoutuser.cshtml";
}


        
<div class="content-wrapper" style="min-height: 333px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
              <h1 class="m-0">Change Password</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="../User/dashboard">Business Panel</a></li>
              
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
 
    <!-- Main content -->
    <section class="content">
    
     <div class="container">
        <div class="row">            
            <div class="col-lg-3">  
              	     
            </div>
             <div class="col-lg-6">  
              	  <form asp-action="passwordchange" asp-controller="user" method="post">
                  <div class="form-group">
                    <label for="formGroupExampleInput">Current Password</label>
                    <input type="password" class="form-control" id="formGroupExampleInput" name="CurrentPassword" placeholder="Current Password">
                  </div>
                  <div class="form-group">
                    <label for="formGroupExampleInput2">New Password</label>
                    <input type="password" class="form-control" id="formGroupExampleInput2" name="NewPassword" placeholder="New Password">
                  </div>
                  <div class="form-group">
                    <label for="formGroupExampleInput2">Confirm Password</label>
                    <input type="password" class="form-control" id="formGroupExampleInput2" name="ConfirmPassword" placeholder="Confirm Password">
                  </div>
                
                   <div class="form-group">
                    
                    <button type="submit"  class="btn btn" id="formGroupExampleInput2" style="background-image: linear-gradient(150deg, #8e8ebf 80%, #191951);"><i class="nav-icon fa fa-edit"></i> Submit</button>
                  </div>
                </form>   
            </div>
             <div class="col-lg-3">  
              	     
            </div>
         </div>
        <div class="row">
            <div class="col-lg-3">

            </div>
            <div class="col-lg-3">
                <h4> @TempData["message"]</h4>
            </div>
            <div class="col-lg-3">

            </div>
        </div>
      </div>
   </section> 
</div>
   
        
    
 

    