@{
    ViewData["Title"] = "userlist";
    Layout = "~/Views/Shared/_Layoutuser.cshtml";
}

<div class="content-wrapper" style="min-height: 333px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">New user</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="../User/dashboard">Business Panel</a></li>

                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <!-- Main content -->
    <section class="content">

        <div class="container">
            <form>
                <div class="form-group">
                    <input typet="text" id="token" class="form-control" />

                </div>
                <button type="submit" id="sub" class="btn btn-success">submit</button>
            </form>
        </div>

    </section>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        //$(".btn ").click(function () {
        $('#sub').click(function () {
            $.ajax({
                type: "POST",
                url: "../user/tests",
                data: {
                   

                },
                success: function (response) {
                    console.log(response);
                   
                    $('#token').val(response.token);
                },

                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });

        });

    });
</script>