@{
    ViewData["Title"] = "Privacy policy";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="mx-auto container-fluid pt-60 pb-170  ">


    <div>
        <center>
            <h4>REFUND & CANCELLATION POLICY</h4>
        </center>
        <p class="mt-30 ml-2">
            Our policy on refund and cancellation of donations received for NEEDAN WELFARE FOUNDATION® donation activities on secure online payment gateway as under:
        </p>
       
        <p class="mt-20 ml-2">
            Any request for cancellations and refund of online donations once duly placed on the website, shall not be entertained under any circumstances. No cash or refund of money will be allowed after completing the online donation as it is an extremely cumbersome process. We therefore request you to be sure before you donate.
        </p>
        <p class="mt-20 ml-2">
            Every Donor will Get Donation Receipt because your donations are tax exempted under 80G of the Indian Income Tax Act.
        </p>
    </div>


</div>