@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="container-fluid pt-60 pb-60 mb-40" style="background-color:white">
   
       
        <div >
            <center>
                <h4>SHIPPING & DELIVERY</h4>
            </center>
            <p class="mt-30 ml-2">
                We as “NEEDAN WELFARE FOUNDATION® ‘’ do not need to deliver anything physically because this website is a donation based online crowdfunding platform. If users come online and donate for charity activities as per their wish, then we are not responsible to deliver anything physically.
            </p>
            <p class="mt-20 ml-2">
                As soon as the user donates online, we will surely send them a donation receipt through E-mail from which he/she will get income tax rebate under 80g.
            </p>
        </div>
       
    
</div>