@using Microsoft.AspNetCore.Http
﻿@{
    ViewBag.Title = "Home Page";

}

<div class="jumbotron">
    <h3>PhonePe Payment</h3>
    <input id="amount" type="number" class="form-control" placeholder="Enter Amount" style="display: inline-block;" />
    <button id="btnPayment" class="btn btn-success" style="display: inline-block;">
        Payment
        <span class="spinner" style="display: none"><i class="fas fa-spinner fa-spin"></i></span>
    </button>
</div>


